.topBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #282c34;
  color: white;
  align-items: center;
  text-overflow: ellipsis;
  min-width: 1200px;
}
.titleName {
  grid-column: 2/4;
  font-size: 2em;
  text-align: center;
  text-overflow: ellipsis;

}
.myName {
  grid-column: 4/5;
  font-size: 1em;
  text-align: left;
}
