.List{
    background-color:#566573;
    border: 1px solid;
    padding: 1em;
    overflow: auto;
    height: 100%;
    height:calc(100vh - 200px);
}


.ListElement{
    display: grid;
    grid-template-columns: 2em 1fr 4em;
    color: #E5E7E9;
    font: 1.2em "Fira Sans", sans-serif;
    min-height: 1.5em;
    border-color: silver;
    border-bottom: 2px solid;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 2px;
}

.countryRank{
    text-align: left;
}
.countryName{
    text-align: center;
}
.caseNumber{
    text-align: left;
}